:root{
    --main-bg-color: #fbdabb79;
    --main-txt-color:  #495e57;
    --main-secondary-color:  #aa8f6f;  
    --font-headings: 'Oswald', 'Roboto', serif;
    --font-text: 'Poppins', "Open Sans", sans-serif; 
    --nav-bar-height: 68px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-bg-color);
    font-size: 16px;
    
 
}

.about-title{
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
}

.about-title img{
    max-width: 679px;
    max-height: 550px;
    margin-top: 5rem;

}

.about-title h1{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 10rem;
    letter-spacing: 0.2rem;
    width: 6%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 12%;
}

.history-content{
    position: relative;
    margin-bottom: 5rem;
}

.history-content h2{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    margin: 2rem 0;

    

}


.history-content p{
    font-family: var(--font-text);
    font-size: 1.3rem;
    color: var(--main-secondary-color);
    line-height: 1.5rem;
    padding-right: 3rem;
}


.history-img-one, .history-img-two{
 width: 100%;
  max-height: 450px;
}

.history-img-one{
    margin-bottom: 1rem;
}

.venue-content{
    position: relative;
}
.venue-content img{
    width: 100%;
    height: 100%;
    
}

.venue-content h2{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    max-width: 300px;
    margin-bottom: 2rem;

}

.venue-content p{
    font-family: var(--font-text);
    font-size: 1.3rem;
    color: var(--main-secondary-color);
    line-height: 1.5rem;
    padding-right: 2rem;
}



.history-heading, .history-first-para, .history-second-para, .venue-heading, .venue-para-one, .venue-para-two{
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}


.history-img-one, .history-img-two{
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}





.visible-stable {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (min-width: 1200px){
    .about-title h1{
        left: 18%;
    }

    .history-content h2{
        margin-top: 5rem;
    }

    .history-first-para{
        margin-bottom: 3rem;
    }

    .history-second-para{
        margin: 0;
    }
    
    .venue-para-one{
        margin-bottom: 3rem;
    }
    .venue-para-two{
        margin: 0;
    }
}

@media only screen and (min-width: 1400px){
    .about-title h1{
        left: 23%;
    }
    .history-content h2{
        margin-top: 7rem;
        font-size: 6.5rem;
    }

    .history-content p{
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-right: 5rem;
    }

    .venue-content h2{
        font-size: 6.5rem;
    }

    .venue-content p{
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-right: 2rem;
    }
}



@media only screen and (min-width: 768px) and (max-width: 991.98px){

    .about-title h1{
        left: 2%;

    }

    .history-content h2{
        font-size: 5rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    .venue-content h2{
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .history-content p{
        font-size: 1.2rem;
        padding: 0;
    }


  
    .venue-content p{
        font-size: 1.2rem;
        padding: 0;
    }

    .history-img-one, .history-img-two{
        max-height: 400px;
        padding: 0 100px;
    }

    .venue-content img{
        padding: 0 50px;
    }
}



@media only screen and (max-width: 767.98px){
    .about-title img{
        max-width: 250px;
        max-height: 200px;
    }

    .about-title h1{
        font-size: 5rem;
        left: 20%;
        top: 0;
        letter-spacing: 0.1rem;
    }

    .about-title{
        margin-bottom: 3rem;
    }


    .history-content h2{
        font-size: 3.5rem;
        margin: 0;
        margin-bottom: 1rem;
        letter-spacing: 0.1rem;
    }

    .venue-content{
        padding-bottom: 2rem;
    }
    .venue-content h2{
        font-size: 3.5rem;
        margin-bottom: 1rem;
        letter-spacing: 0.1rem;
    }

    .history-content{
        margin-bottom: 3rem;
    }

    .history-content p{
        font-size: 1rem;
        padding: 0;
    }

    .venue-content p{
        font-size: 1rem;
        padding: 0;
    }

    .history-img-one, .history-img-two{
        max-height: 400px;
        padding: 0 50px;

    }



    .venue-content img, .history-img-one{
        padding: 0 50px;
        margin-top: 1.5rem;
    }


.history-heading, .history-first-para, .history-second-para, .venue-heading, .venue-para-one, .venue-para-two{
       transform: translateY(15px);
    }
    
    

}