
/*define element for root document*/
:root{
    --main-bg-color: rgb(253,237,222);
    --main-txt-color:  #495e57;
    --main-secondary-color:  #aa8f6f;  
    --font-headings: 'Oswald', 'Roboto', serif;
    --font-text: 'Poppins', "Open Sans", sans-serif; 
    --nav-bar-height: 68px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-bg-color);
    font-size: 16px;
    
 
}

html{
    scroll-behavior: smooth;
}

/*Header and navbar design*/

header{
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 99;
}

.nav-bar-container{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(253,237,222);
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    gap: 32px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    opacity: 1;


}


.menu-icon{
    color: var(--main-txt-color);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


.nav-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 80px;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 12px;
    background-color: rgb(253,237,222);
    margin: 0;

}


.nav-links > li{
    display: flex;
    position: relative;
    cursor: pointer;


}
.nav-links > li > a {
    color: var(--main-txt-color);
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    position: relative;
    font-family: var(--font-headings);
    font-size: 20px;
    padding: 0;
    border-bottom: 2px solid transparent;
    margin: 0;
}

.nav-links >li >a:before {
    content: '';
    background:  var(--main-txt-color);
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;

}

.nav-links > li > a:hover{color: var(--main-secondary-color);
    transition: all 0.2s ease-in-out;}

.nav-links > li > a:hover::before {width: 100%;}






/*Header and navbar design for smaller devices*/
@media only screen and (max-width: 991.98px){


    .nav-bar-container{
      position: relative;
    }

    .nav-links{
        display: none;
    }
     
    .menu-icon{
        display: block;
     }

    
     .nav-links--mobile{
        position: absolute;
        top: var(--nav-bar-height);
        right: 0;
        display: flex;
        z-index: 50;
        padding: 80px 60px;
        min-height: 100%;
        gap: 10px;
        flex-direction: column;
        background-color: rgb(253,237,222);
        align-items: flex-start;
        opacity: 1;
        animation: fadein 0.3s forwards;
     }

     @keyframes fadein {
        0% {
            opacity: 0;
            width: 0;
            height: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }
    }

    .nav-links--mobile--fadeout {
        animation: fadeout 300ms forwards;
    }

    @keyframes fadeout {
        0% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }

        100% {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    
 }


 main{
    margin-bottom: 5rem;
    margin-top: 6.25rem;
}



#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    z-index: 30;
    font-size: 28px;
    font-family: var(--font-headings);
    background-color: var(--main-txt-color);
    color: var(--main-secondary-color);
    cursor: pointer;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.25);
    outline: none;
}



.first-link:hover, .third-link:hover{
    color: var(--main-secondary-color);
}



.ui-widget-content, .ui-widget-header{
    color: var(--main-secondary-color);
}

.ui-timepicker-standard a {
    color: var(--main-secondary-color);
}


.find-btn:hover{
    background-color: var(--main-txt-color);
    color: var(--main-secondary-color);
    border-color: var(--main-secondary-color);
}


.footer-email input{
    color: var(--main-secondary-color);
}



.email-submit-text{
    display: none;
}



.social-button{
    display: inline-block;
    text-decoration: none;
    color: transparent;
}


.social-button:hover:nth-child(1){
    background:  radial-gradient(
        circle at 30% 107%, #fdf497 0%, 
        #fdf497 5%, #fd5949 45%,
        #d6249f 60%,#285AEB 90%
    ); 
    transform: scale(1.0);
}

.social-button:hover:nth-child(1) svg {
    stroke: white;
}


.social-button:hover:hover:nth-child(2){
    transform: scale(1.0);
    background-color: #14171A;
}

.social-button:hover:hover:nth-child(2) svg{
    fill: white;
}

.social-button:hover:hover:nth-child(3){
    transform: scale(1.0);
    background-color: #25d366;
}

.social-button:hover:hover:nth-child(3) svg{
    fill: white;
}



select{
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Indicate that a custom style is being used */
    text-indent: 0.01px;
    text-overflow: '';
}











 /*SCREEN MAX-WIDTH 767px for devices like mobile screens(potrait).*/
@media only screen and (max-width: 767.98px){

  
    .first-content{
      height: 51rem;
      background-color: transparent;
      margin-bottom: 2rem;
  }
  
  .centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
  
  /*firstrow*/
  .first-bg{
      width: 100px;
      margin-bottom: 0.3rem;
      background-color: transparent;
      
  
  }

  
.first-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 2rem;
    width: 20rem;
    letter-spacing: 0.1rem;
    background-color: transparent;
    opacity: 1;            
  
   }
  .first-para{
       font-family: var(--font-text);
       font-size: 1rem;
       color: var(--main-secondary-color);
       white-space: normal;
       text-align: center;
       line-height: 1.5rem;
       opacity: 1;
       margin-bottom: 0;
    }
  
  .first-link{
      display: inline-block;
      font-family: var(--font-headings);
      font-weight: bold;
      color: var(--main-txt-color);
      cursor: pointer;
      text-decoration: none;
      opacity: 1;
  }
 
  


  .carousel-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0.25rem;
    gap: 0.5rem;
    max-width: 24.25rem;
    max-height: 27rem; 
    transition: all 0.2s;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    
  
}




.carousel-wrap::-webkit-scrollbar {
    width: 0.5rem;
}
.carousel-wrap::-webkit-scrollbar-track {
    background: var(--main-secondary-color);
    border-radius: 6px;
}

.carousel-wrap::-webkit-scrollbar-thumb {
    background:  var(--main-txt-color);
    border-radius: 5px;
}

.carousel-wrap::-webkit-scrollbar-thumb:hover {
    background:  var(--main-txt-color);
} 

.carousel-card{
    padding: 0.25rem;
    max-width:  23.75rem;
    max-height: 25rem;
    color: white;
    display: flex;
    border-radius: 0.5rem;
    font-size: 3rem;
    transition: all 0.2s;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.carousel-card figure {
    margin: 0px;
    border-radius: 0.5rem;
    cursor: move;
    cursor: grab;
}

.carousel-card figure:active{
    cursor: grabbing;
}

.carousel-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
 
   




/*Reserve Table section */

  .second-content{
    background-color: transparent;
    position: relative;
    height: 37rem;
    margin-bottom: 2rem;
}


.second-image{
    background-color: transparent;
    position: absolute;
    left: 28%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
    width: 114px;
    height: 158px;
    

}


.second-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 3.5rem;
    width: 12rem;
    margin: 0;
    letter-spacing: 0.1rem;
    position: absolute;
    top: 6rem;
    left: 50%;
    z-index: 2;
    opacity: 0;
    transform: translateY(15px) translateX(-50%); /* Adjust the initial distance from the bottom */
    transition: opacity  0.3s ease, transform 0.3s ease;            
 

}





/*Reserveation Form Section*/
.second-form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 16rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 20rem;
    border: 0.2rem solid transparent;
    z-index: 5;
}
.second-form div{
    margin-bottom: 10px;
}

.second-form label {  
    font-weight: bold;
    font-family: var(--font-headings);
    color: var(--main-secondary-color);
    font-size: 1rem;
    line-height: 1rem;
    opacity: 1;
}

.second-form input,       
.second-form select {                                    
    padding: 0.5rem;
    width: 100%;
    color: var(--main-secondary-color);
    font-size: 0.8rem;
    font-family: var(--font-text);
    border: 0.2rem solid var(--main-secondary-color);
    background-color: transparent;
    opacity: 1;
    appearance: none;
    border-radius: 0.25rem;
    
    
}

.ui-datepicker{
    width: 19.7rem;
}



/*guest list design*/
.guest-icon{
    position: absolute;
    right: 3%;
    transform: translateY(9px); 
    z-index: 1;
    font-size: 1rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}
  
.calendar-icon {
    position: absolute;
    z-index: 1;
    right: 3%;
    transform: translateY(9px);
    font-size: 0.9rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}

/*time design*/
.time-icon{
    position: absolute;
    right: 3%;
    transform: translateY(9px); 
     z-index: 1;
    font-size: 1rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}


.second-form button {
    background-color: transparent;
    font-size: 1.2rem;
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid  var(--main-txt-color);
    cursor: pointer;
    line-height: 1.5rem;
    opacity: 1;
    letter-spacing: 0.05rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
}


.third-content{
    height: 34rem;
    position: relative;
    background-color: transparent;
    margin-bottom: 2rem;
}

.third-image {
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 1.5rem;
    padding: 0 10px;
    left: 50%;
    opacity: 0;
    transform: translateY(15px) translateX(-50%); /* Adjust the initial distance from the bottom */
    transition: opacity  0.2s ease-in, transform 0.2s ease-in;      
    z-index: 1;
}


.third-bg{
    background-color: transparent;
    position: absolute;
    width: 184px;
    height: 131px;
    bottom: 8rem;
    right: 50%;
    transform: translateX(60%)  rotateZ(-21deg);

}

.third-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 3.5rem;
    position: absolute;
    z-index: 2;
    margin: 0;
    letter-spacing: 0.1rem;
    bottom: 8rem;
    transform: translateY(15px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;

}

.third-para{
    font-family: var(--font-text);
    font-size: 1rem;
    white-space: normal;
     color: var(--main-secondary-color);
     line-height: 1.5rem;
     position: absolute;
     margin: 0;
     bottom: 2rem;
     transform: translateY(15px) ;
     opacity: 0;
     transition: opacity  0.3s ease, transform 0.3s ease;

     
}  

.third-link{
    display: inline-block;
    font-family: var(--font-headings);
    font-weight: bold;
    color: var(--main-txt-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    transform: translateY(15px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;

  
}



.fourth-content{
    height: 80rem;
    position: relative;
    background-color: transparent;


}


.fourth-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 3.5rem;
    width: 15rem;
    margin-top: 5rem;
    transform: translateY(15px) ;
    opacity: 0;
    letter-spacing: 0.1rem;
    transition: opacity  0.3s ease, transform 0.3s ease;
    

}

.fourth-para{
    font-family: var(--font-text);
    font-size: 1rem;
     color: var(--main-secondary-color);
     margin-bottom: 0;
     line-height: 1.5rem;
     transform: translateY(15px) ;
     opacity: 0;
     transition: opacity  0.3s ease, transform 0.3s ease;


}

.fourth-img-one {
    width: 199px;
    height: 245px;
    position: absolute;
    left: 50%;
     top: 28rem;
     opacity: 1;
    transform: translateX(-50%);                

}


.fourth-img-two{
    width: 130px;
    height: 164px;
    position: absolute;
    left: 50%;
    bottom: 20rem;
    opacity: 1;
    transform: translateX(-50%);                


}


.fourth-img-three{
    width: 160px;
     height: 187px;
     position: absolute;
     left: 50%;
     bottom: 0.8rem;
     opacity: 1;
     transform: translateX(-44%) rotateZ(-60deg);

}


.img-text{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.coral{
    position: absolute;
    margin: 0;
    top: 43rem;
    left: 48%;
    transform: translateX(-44%) translateY(15px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;
   
}

.anchor{
    position: absolute;
    margin: 0;
    text-align: center;
    left: 50%;
    bottom: 19rem;
    transform: translateX(-44%) translateY(15px) ;
     opacity: 0;
     transition: opacity  0.3s ease, transform 0.3s ease;
   
}
.two-fish{
    position: absolute;
    margin: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-44%) translateY(15px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;
}





.footer{
    background-color: var(--main-secondary-color);
    height: 900px;
    position: relative;
    bottom: 0;

}


.footer-heading{
    color: var(--main-txt-color);
    font-family: var(--font-headings);
    font-size: 3.5rem;
    opacity: 1;
    width: 14rem;
    position: absolute;
    letter-spacing: 0.1rem;
    top: 5rem;
    margin-bottom: 0;

}

.footer-para{
    font-family: var(--font-headings);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin-bottom: 0;
    line-height: 1.2rem;
    width: 12rem;
    position: absolute;
    top: 15rem;
    left: 1rem;
    
}

.footer-email{
    width: 55%;
    position: absolute;
    top: 18.5rem;
    left: 1rem;

}


.email-label{
    font-family: var(--font-text);
    font-size: 0.8rem;
    color: var(--main-txt-color);
}

.email-button{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    font-size: 1rem;
}


.email-submit-text{
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    width: 12rem;
    position: absolute;
    top: 23rem;
    left: 6rem;
}


.copyright{
    font-family: var(--font-text);
    font-size: 0.8rem;
    color: var(--main-txt-color);
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);

   
}




/*footer second content*/


.footer-contact{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    width: 335px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100px);
}




.phone-number{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    text-decoration: none;
    margin: 0;
    
}

.email-address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin: 0;

}


.email-address a, .phone-number a{
    color: var(--main-txt-color);
    text-decoration: none;
}

.address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin: 0;

  
}





.social-media-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4rem;
    transform: translateY(180px);
    width: 100%;

}

.social-button{
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;

}

.social-button svg{
    width: 25px;
    height: 25px;
}


.footer-img{
    position: absolute;
    background-color: transparent;
    left: 50%;
    width: 100px;
    height: 111px;
    transform: translate(-50%, -60px);

}


.visible-mobile-two{
    opacity: 1;
    transform: translateY(0);
}



}

@media only screen and (max-width: 575.98px) {

    .carousel-wrap{
      max-width: 21.125rem;
      max-height: 23.875rem;
    }

    .carousel-card{
        max-width: 20.625rem;
        max-height: 21.875rem;

    }

    .visible-mobile{
        opacity: 1;
        transform: translateY(0) translateX(-50%);  /* visible animation check JS Code */
    }

    
    .visible-mobile-three{
        opacity: 1;
        transform: translateY(0) translateX(-44%);
    }
    

    .footer-email{
      width: 85%;
    }
}






 /*SCREEN Max-WIDTH 767px for devices like mobile screens(landscape).*/
@media only screen and (min-width: 576px) and (max-width: 767.98px){

    .second-image{
        left: 35%;
    }

    .third-heading{
        bottom: 10rem;

    }

    .third-bg{
        right: 55%;
    }

   .third-para{
     bottom: 5rem;
   }
   .third-link{
    bottom: 2rem;
   }

  .fourth-content{
        height: 34rem;
    }

   .fourth-img-one {
    width: 130px;
    height: 164px;
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
    top: initial;
    opacity: 1;
    transform: none;
}


.fourth-img-two{
    width: 130px;
    height: 164px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

}



.fourth-img-three{
    width: 150px;
     height: 164px;
     position: absolute;
     bottom: 1rem;
     right: 0.5rem;
     left: initial;
     opacity: 1;
     transform: none;

}

.img-text{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 1rem;
    letter-spacing: 0.1rem;
  
}

.coral{
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 1.6rem;
    top: initial;
    transform: none;
    opacity: 1;
    letter-spacing: 0.1rem;
    transition: none;
}

.anchor{
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
    bottom: 0;
    opacity: 1;
    transition: none;
    text-align: initial;
}
 

.two-fish{
    position: absolute;
    margin: 0;
    right: 3rem;
    bottom: 0;
    left: initial;
    opacity: 1;
    transform: none;
    transition: none;
}


.visible-mobile{
    opacity: 1;
    transform: translateY(0) translateX(-50%);  /* visible animation check JS Code */
}



 }
































 /*SCREEN MIN-WIDTH 768px for devices like tablets screens.*/
@media only screen and (min-width: 768px) and (max-width: 991.98px){



  .first-content{
    height: 55rem;
    background-color: transparent;
    margin-bottom: 1rem;
}



.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

/*firstrow*/
.first-bg{
    width: 140px;
    margin-bottom: 0.5rem;
    background-color: transparent;
}
  


.first-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 2.5rem;
    width: 26rem;
    background-color: transparent;
    letter-spacing: 0.2rem;
  
}
.first-para{
       font-family: var(--font-text);
       font-size: 1.2rem;
       color: var(--main-secondary-color);
       white-space: normal;
       text-align: center;
       line-height: 1.5rem;
       opacity: 1;
       margin-bottom: 0;
    }
  
.first-link{
     display: inline-block;
      font-family: var(--font-headings);
      font-weight: bold;
      color: var(--main-txt-color);
      cursor: pointer;
      text-decoration: none;
  }



  .carousel-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0.25rem;
    gap: 0.5rem;
    max-width: 24.25rem;
    max-height: 27rem; 
    transition: all 0.2s;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    
  
}




.carousel-wrap::-webkit-scrollbar {
    width: 0.5rem;
}
.carousel-wrap::-webkit-scrollbar-track {
    background: var(--main-secondary-color);
    border-radius: 6px;
}

.carousel-wrap::-webkit-scrollbar-thumb {
    background:  var(--main-txt-color);
    border-radius: 5px;
}

.carousel-wrap::-webkit-scrollbar-thumb:hover {
    background:  var(--main-txt-color);
} 

.carousel-card{
    padding: 0.25rem;
    max-width:  23.75rem;
    max-height: 25rem;
    color: white;
    display: flex;
    border-radius: 0.5rem;
    font-size: 3rem;
    transition: all 0.2s;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.carousel-card figure {
    margin: 0px;
    border-radius: 0.5rem;
    cursor: move;
    cursor: grab;
}

.carousel-card figure:active{
    cursor: grabbing;
}

.carousel-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}







/*Reserve Table section */
  .second-content{
    background-color: transparent;
    position: relative;
    height: 30rem;
    margin-bottom: 1rem;
}


.second-image{
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


.second-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5rem;
    width: 17rem;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 9.375rem;
    left: 3rem;
    z-index: 2;
    transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;

}

/*Reserveation Form Section*/
.second-form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.5rem;
    width: 22rem;
    height: 22rem;
    border: 0.2rem solid transparent;
    z-index: 5;
}
.second-form div{
    margin-bottom: 15px;
}

.second-form label {  
    font-weight: bold;
    font-family: var(--font-headings);
    color: var(--main-secondary-color);
    font-size: 1.2rem;
    line-height: 1.5rem;
    opacity: 1;
    letter-spacing: 0.05rem;
}

.second-form input,       
.second-form select {                                    
    padding: 0.5rem;
    width: 100%;
    color: var(--main-secondary-color);
    font-size: 1rem;
    font-family: var(--font-text);
    border: 0.2rem solid var(--main-secondary-color);
    background-color: transparent;
    opacity: 1;
    appearance: none;
    border-radius: 0.25rem;
}

.ui-datepicker{
    width: 21.7rem;
}



/*guest list design*/
.guest-icon{
    position: absolute;
    right: 3%;
    transform: translateY(9px); 
    z-index: 1;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}

.calendar-icon {
    position: absolute;
    z-index: 1;
    right: 3%;
    transform: translateY(9px);
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}

/*time design*/
.time-icon{
    position: absolute;
    right: 3%;
    transform: translateY(9px); 
     z-index: 1;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}


.second-form button {
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid  var(--main-txt-color);
    cursor: pointer;
    line-height: 1.5rem;
    opacity: 1;
    letter-spacing: 0.05rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
}





.third-content{
    height: 25rem;
    position: relative;
    background-color: transparent;
    margin-bottom: 1rem;
}

.third-image {
    position: absolute;
    width: 54%;
    border-radius: 1rem;
    height: 100%;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;

  

}


.third-bg{
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 5rem;
    width: 200px;
    height: 150px;
}

.third-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5rem;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 16rem;
    margin-bottom: 0;
    transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;
}

.third-para{
    font-family: var(--font-text);
    font-size: 1.2rem;
    white-space: normal;
     color: var(--main-secondary-color);
     line-height: 1.5rem;
     position: absolute;
     bottom: 2.5rem;
     margin-bottom: 0;
     transform: translateY(25px) ;
     opacity: 0;
     transition: opacity  0.3s ease, transform 0.3s ease;
    
     
}  

.third-link{
    display: inline-block;
    font-family: var(--font-headings);
    font-weight: bold;
    color: var(--main-txt-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;
}


.fourth-content{
    height: 43rem;
    position: relative;
    background-color: transparent;


}


.fourth-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5rem;
    letter-spacing: 0.2rem;
    width: 29rem;
    transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;

}

.fourth-para{
    font-family: var(--font-text);
    font-size: 1.2rem;
     color: var(--main-secondary-color);
     margin-bottom: 0;
     line-height: 1.5rem;
     width: 33rem;
     transform: translateY(25px) ;
     opacity: 0;
     transition: opacity  0.3s ease, transform 0.3s ease;


}
/*fourth row image bar design*/
.fourth-img-one {
    width: 180px;
    height: 210px;
    position: absolute;
    bottom: 3rem;
    left: 1.5rem;
}


.fourth-img-two{
    width: 180px;
    height: 210px;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

}


.fourth-img-three{
    width: 210px;
     height: 210px;
     position: absolute;
     bottom: 3rem;
     right: 1.5rem;
}



.img-text{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    opacity: 1;
}

.coral{
    position: absolute;
    margin: 0;
    bottom: 1.5rem;
    left: 3.5rem;

    

}

.anchor{
    position: absolute;
    margin: 0;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-45%);
}

.two-fish{
    position: absolute;
    margin: 0;
    right: 5.5rem;
    bottom: 1.5rem;
}


.footer{
    background-color: var(--main-secondary-color);
    height: 760px;
    position: relative;
    bottom: 0;

}

/*footer first content*/

.footer-heading{
    color: var(--main-txt-color);
    font-family: var(--font-headings);
    font-size: 5rem;
    opacity: 1;
    letter-spacing: 0.2rem;
    width: 20rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    margin-bottom: 0;

}

.footer-para{
    font-family: var(--font-headings);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    margin-bottom: 0;
    line-height: 1.5rem;
    width: 21rem;
    position: absolute;
    top: 17.5rem;
    left: 5.5rem;
    
}

.footer-email{
    width: 30rem;
    position: absolute;
    top: 19.5rem;
    left: 5.5rem;

}


.email-label{
    font-family: var(--font-text);
    font-size: 0.8rem;
    color: var(--main-txt-color);
}

.email-button{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    font-size: 1rem;
    letter-spacing: 0.05rem;
}


.email-submit-text{
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    width: 14rem;
    position: absolute;
    top: 24rem;
    left: 10rem;
}


.copyright{
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);

   
}
  /*footer second content*/


.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 400px;
    flex-wrap: nowrap;
    align-items: start;
    position: absolute;
    left: 5.5rem;
    transform: translateY(60px);
}




.phone-number{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    text-decoration: none;
    margin: 0;
    max-width: 13rem;
    
}
.email-address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin: 0;
    max-width: 23rem;

}


.email-address a, .phone-number a{
    color: var(--main-txt-color);
    text-decoration: none;
}

.address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin: 0;
    max-width: 13rem;
  
}



.social-media-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.4rem;
    transform: translate(82px, 175px);
    width: 130px;

}

.social-button{
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;

}

.social-button svg{
    width: 25px;
    height: 25px;
}



.footer-img{
    position: absolute;
    top: 0;
    background-color: transparent;
    right: 15%;
    transform: translateY(50%);

}
  


.visible-stable{
    opacity: 1;
    transform: translateY(0);
}

}













































  /*SCREEN MIN-WIDTH 992px for devices like small laptops*/

@media only screen and (min-width: 992px) {




/*FIRST CONTENT STYLES*/

.first-content{
    height: 35rem;
    background-color: transparent;
    margin-bottom: 2rem;

}


.centered{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

/*firstrow*/
.first-bg{
    width: 140px;
    margin-bottom: 0.5rem;
    background-color: transparent;
    

}

.first-heading{
  font-family: var(--font-headings);
  color: var(--main-txt-color);
  font-size: 3rem;
  width: 30.5rem;
  background-color: transparent;
  letter-spacing: 0.2rem;

 }
.first-para{
     font-family: var(--font-text);
     font-size: 1.3rem;
     color: var(--main-secondary-color);
     white-space: normal;
     text-align: center;
     line-height: 1.5rem;
     opacity: 1;
     margin-bottom: 0;
  }

.first-link{
    display: inline-block;
    font-family: var(--font-headings);
    font-weight: bold;
    color: var(--main-txt-color);
    cursor: pointer;
    text-decoration: none;
}


.carousel-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0.25rem;
    gap: 0.5rem;
    max-width: 24.25rem;
    max-height: 27rem; 
    transition: all 0.2s;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    
  
}




.carousel-wrap::-webkit-scrollbar {
    width: 0.5rem;
}
.carousel-wrap::-webkit-scrollbar-track {
    background: var(--main-secondary-color);
    border-radius: 6px;
}

.carousel-wrap::-webkit-scrollbar-thumb {
    background:  var(--main-txt-color);
    border-radius: 5px;
}

.carousel-wrap::-webkit-scrollbar-thumb:hover {
    background:  var(--main-txt-color);
} 

.carousel-card{
    padding: 0.25rem;
    max-width:  23.75rem;
    max-height: 25rem;
    color: white;
    display: flex;
    border-radius: 0.5rem;
    font-size: 3rem;
    transition: all 0.2s;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.carousel-card figure {
    margin: 0px;
    border-radius: 0.5rem;
    cursor: move;
    cursor: grab;
}

.carousel-card figure:active{
    cursor: grabbing;
}

.carousel-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}


/*SECOND CONTENT STYLES*/

.second-content{
    background-color: transparent;
    position: relative;
    height: 30rem;
    margin-bottom: 2rem;
}
/*Reserve Table section */

.second-image{
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


.second-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    width: 20rem;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 9.375rem;
    left: 5rem;
    z-index: 2;
    transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;
    

}

/*Reserveation Form Section*/
.second-form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.5rem;
    right: 2.5rem;
    width: 25rem;
    height: 22rem;
    border: 0.2rem solid transparent;
    z-index: 5;
    
}
.second-form div{
    margin-bottom: 15px;
}

.second-form label {  
    font-weight: bold;
    font-family: var(--font-headings);
    color: var(--main-secondary-color);
    font-size: 1.2rem;
    line-height: 1.5rem;
    opacity: 1;
    letter-spacing: 0.05rem;
}

.second-form input,       
.second-form select {                                        /*form input design*/
    padding: 0.5rem;
    width: 100%;
    color: var(--main-secondary-color);
    font-size: 1rem;
    font-family: var(--font-text);
    border: 0.2rem solid var(--main-secondary-color);
    background-color: transparent;
    opacity: 1;
    appearance: none;
    border-radius: 0.25rem;
}

.ui-datepicker{
    width: 24.7rem;
}

/*guest list design*/
.guest-icon{
    position: absolute;
    right: 3%;
    transform: translateY(9px); /*pushes element down 5px from its position*/
    z-index: 1;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}
  

.calendar-icon {
    position: absolute;
    z-index: 1;
    right: 3%;
    transform: translateY(9px); /*pushes element down 5px from its position*/
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}

/*time design*/
.time-icon{
    position: absolute;
    right: 3%;
    transform: translateY(9px); /*pushes element down 5px from its position*/
     z-index: 1;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}


.second-form button {
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid  var(--main-txt-color);
    cursor: pointer;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    opacity: 1;
    letter-spacing: 0.05rem;
    margin-top: 1rem;
}











/*THIRD CONTENT STYLES*/

/*About Us section */

.third-content{
    height: 25rem;
    position: relative;
    background-color: transparent;
    margin-bottom: 2rem;
}

.third-image {
    position: absolute;
    border-radius: 1rem;
    width: 57.5%;
    height: 100%;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  

}


.third-bg{
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 5rem;

}

.third-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 18rem;
    margin-bottom: 0;
    transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;
}

.third-para{
    font-family: var(--font-text);
    font-size: 1.3rem;
    white-space: normal;
     color: var(--main-secondary-color);
     line-height: 1.5rem;
     position: absolute;
     bottom: 2.5rem;
     margin-bottom: 0;
     transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;
    
     
}  

.third-link{
    display: inline-block;
    font-family: var(--font-headings);
    font-weight: bold;
    color: var(--main-txt-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;
}








/*FOURTH CONTENT STYLES*/

/*Our Values section */
.fourth-content{
    height: 48rem;
    position: relative;
    background-color: transparent;


}


.fourth-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    width: 29rem;
    transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;

}

.fourth-para{
    font-family: var(--font-text);
    font-size: 1.3rem;
     color: var(--main-secondary-color);
     margin-bottom: 0;
     line-height: 1.5rem;
     width: 33rem;
     transform: translateY(25px) ;
    opacity: 0;
    transition: opacity  0.3s ease, transform 0.3s ease;

}
/*fourth row image bar design*/

.fourth-img-one {
    width: 198px;
    height: 254px;
    position: absolute;
    bottom: 3rem;
    left: 4rem;
}


.fourth-img-two{
    width: 195px;
    height: 242px;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

}


.fourth-img-three{
    width: 231px;
     height: 270px;
     transform: rotateZ(-65deg);
     position: absolute;
     bottom: 2rem;
     right: 4rem;
}



.img-text{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    opacity: 1;
    
  
}

.coral{
    position: absolute;
    margin: 0;
    bottom: 1.5rem;
    left: 6rem;
}

.anchor{
    position: absolute;
    margin: 0;
    left: 50%;
    bottom: 1.5rem;
    transform: translateX(-44%) ;
}
.two-fish{
    position: absolute;
    margin: 0;
    right: 9rem;
    bottom: 1.5rem;
}


/*FOOTER CONTENT STYLES*/

.footer{
    background-color: var(--main-secondary-color);
    height: 600px;
    position: relative;
    bottom: 0;
}

/*footer first content*/

.footer-heading{
    color: var(--main-txt-color);
    font-family: var(--font-headings);
    font-size: 5.5rem;
    opacity: 1;
    letter-spacing: 0.2rem;
    width: 23rem;
    position: absolute;
    left: 2rem;
    transform: translateY(50px);
    margin-bottom: 0;

}

.footer-para{
    font-family: var(--font-headings);
    font-size: 1.5rem;
    color: var(--main-txt-color);
    margin-bottom: 0;
    line-height: 1.5rem;
    position: absolute;
    left: 2rem;
    top: 17rem;
    width: 23rem;
    
}

.footer-email{
    width: 28rem;
    position: absolute;
    top: 17rem;
    left: 2rem;
    transform: translateY(70px);

}


.email-label{
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
}

.email-button{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}


.email-submit-text{
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--main-txt-color);
    position: absolute;
    bottom: 0 ;
    width: 18rem;
    transform: translateY(-140px);
    left: 5rem

}


.copyright{
    font-family: var(--font-text);
    font-size: 1.05rem;
    color: var(--main-txt-color);
    position: absolute;
    bottom: 0;
    left: 5rem;
    transform: translateY(-40px);

   
}



/*footer second content*/

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 400px;
    flex-wrap: nowrap;
    align-items: start;
    transform: translate(50px, 100px);
}




.phone-number{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    text-decoration: none;
    margin: 0;
    max-width: 13rem;
    
}

.email-address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    margin: 0;
    max-width: 23rem;

}


.email-address a, .phone-number a{
    color: var(--main-txt-color);
    text-decoration: none;
}

.address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    margin: 0;
    max-width: 18rem;
  
}


.social-media-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.8rem;
    transform: translate(55px, 110px);
    width: 180px;

}

.social-button{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;

}


.footer-img{
    position: absolute;
    bottom: 0;
    background-color: transparent;
    transform: translate(200px, -60px);

}



.visible-stable{
    opacity: 1;
    transform: translateY(0);
}
}
























 /*SCREEN MIN-WIDTH 1200px for devices like laptops and desktops*/
@media only screen and (min-width: 1200px) {
   
      

   
     .second-image{
        transform: translateX(85px);
     }

     .second-heading{
        transform: translateX(85px);
     }

     .second-form{
        right: 5rem;
        width: 28rem;
     }

     .ui-datepicker{
        width: 27.7rem;
    }
 
     .third-content{
        height: 28rem;
     }

     .third-bg{
        right: 10rem;
        transform: rotateZ(-18deg);
        top: -20px;
     }

     .third-para{
         bottom: 6rem;
     }
     .third-link{
        bottom: 2.5rem;
     }



}

















 /*SCREEN MIN-WIDTH 1400px for devices like large desktop screens.*/
@media only screen and (min-width: 1400px) {


    .carousel-wrap{
        max-width: 30.5rem;
        max-height: 30.125rem;
    }

    .carousel-card{
        max-width: 30rem;
        max-height: 28.125rem;
    }
    .first-heading{
        font-size: 4rem;
        width: 39rem;
    }
       

     .first-para{
        font-size: 1.5rem;
        line-height: 1.8rem;
     }

     
     .second-content{
        height: 32rem;
     }
     .second-heading{
        font-size: 6.5rem;
        width: 22rem;
     }

     .second-form{
        width: 40rem;
     }
     .ui-datepicker{
        width: 39.7rem;
    }
     
     .second-form div {
        margin-bottom: 20px;
    }
     .second-form button{
        font-size: 1.8rem;
     }

     .third-content {
        height: 35rem;
    }

    .third-heading{
        font-size: 6.5rem;
        width: 22rem;
        transform: translateY(25px);
    }
    .third-bg {
        right: 15rem;
    }

    .third-para{
        font-size: 1.5rem;
        bottom: 9rem;
        line-height: 1.8rem;
    }

    .third-link{
        font-size: 2.5rem;
    }

    .fourth-content{
        height: 53rem;
    }

    .fourth-heading{
        width: 33rem;
        font-size: 6.5rem;
    }

    .fourth-para{
        width: 43rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }


    .img-text{
       font-size:  1.5rem;
    }

    .coral{
        left: 5.5rem;
    }

    .two-fish{
        right: 8.5rem;
    }

    
    .footer-heading{
        width: 25rem;
        font-size: 6.5rem;
        transform: translateY(30px);
    }

    .footer-para{
        width: 28rem;
        font-size: 1.5rem;
        top: 18rem;
        line-height: 1.8rem;
    }

    .footer-email{
        transform: translateY(80px);
        width: 35rem;
    }
    .email-label{
        font-size: 1.3rem;
    }
    .email-button{
        font-size: 1.5rem;
    }
    
    .email-submit-text{
        width: 21rem;
        transform: translateY(-100px);
        font-size: 1.5rem;
    }

    .copyright{
        font-size: 1.3rem;
        transform: translateY(-30px);
    }

    .footer-contact{
        width: 500px;
    }

    .phone-number, .email-address, .address{
      font-size: 1.5rem;
    }



 
 }





 /*devices over 2000px*/
@media only screen and (min-width: 2000px) {
  
   .container-fluid{
    max-width: 1800px;
   }


   .nav-bar-container{
     width: 1800px

   }

   header{
     max-width: 1800px;
     margin: 0 auto;
     padding-left: 0.75rem;
     padding-right: 0.75rem;
   }



 }





 
  