
/*define element for root document*/
:root{
    --main-bg-color: rgb(253,237,222);
    --main-txt-color:  #495e57;
    --main-secondary-color:  #aa8f6f;  
    --font-headings: 'Oswald', 'Roboto', serif;
    --font-text: 'Poppins', "Open Sans", sans-serif; 
    --nav-bar-height: 78px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-bg-color);
    font-size: 16px;
    
 
}

html{
    scroll-behavior: smooth;
}

/*Header and navbar design*/

header{
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    z-index: 99;
}

.nav-bar-container{
    width: 100%;
    background-color: rgb(253,237,222);
    display: flex;
    flex-direction: row;
    padding: 14px;
    gap: 32px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    opacity: 1;


}


.menu-icon{
    color: var(--main-txt-color);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


.nav-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 80px;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 12px;
    margin: 0;

}


.nav-links > li{
    display: flex;
    position: relative;
    cursor: pointer;


}
.nav-links > li > a {
    color: var(--main-txt-color);
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(to right,
    var(--main-secondary-color),
    var(--main-secondary-color) 50%,
            var(--main-txt-color) 50%);
    background-position: -100%;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
    font-family: var(--font-headings);
    font-size: 20px;
    padding: 3px 0;
    border-bottom: 2px solid transparent;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.nav-links > li > a.active{
    color: var(--main-secondary-color);
    -webkit-text-fill-color: var(--main-secondary-color);
}

.nav-links >li >a:before {
    content: '';
    background:  var(--main-txt-color);
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;

}

.nav-links > li > a:hover{
    background-position: 0;
 
}

.nav-links > li > a:hover::before {
    width: 100%;
}






/*Header and navbar design for smaller devices*/
@media only screen and (max-width: 991.98px){


    header{
      position: relative;
    }

    .nav-links{
        display: none;
    }
     
    .menu-icon{
        display: block;
     }

    
     .nav-links--mobile{
        position: absolute;
        top: var(--nav-bar-height);
        right: 0;
        display: flex;
        z-index: 50;
        padding: 80px 60px;
        min-height: 100vh;
        gap: 10px;
        flex-direction: column;
        background-color: rgb(253,237,222);
        align-items: flex-start;
        opacity: 1;
        animation: fadein 0.3s forwards;
     }

     @keyframes fadein {
        0% {
            opacity: 0;
            width: 0;
            height: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }
    }

    .nav-links--mobile--fadeout {
        animation: fadeout 300ms forwards;
    }

    @keyframes fadeout {
        0% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }

        100% {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    
 }


 main{
    margin-bottom: 5rem;
}



#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    z-index: 30;
    font-size: 28px;
    font-family: var(--font-headings);
    background-color: var(--main-txt-color);
    color: var(--main-secondary-color);
    cursor: pointer;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.25);
    outline: none;
}



.third-link:hover{
    color: var(--main-secondary-color);
}



.ui-widget-content, .ui-widget-header{
    color: var(--main-secondary-color);
}

.ui-datepicker, .ui-timepicker{
    position: relative;
    z-index: 10;
}


.ui-timepicker-standard a {
    color: var(--main-secondary-color);
}


.find-btn:hover{
    background-color: var(--main-txt-color);
    color: var(--main-secondary-color);
    border-color: var(--main-secondary-color);
}


.footer-email input{
    color: var(--main-secondary-color);
}



.email-submit-text{
    display: none;
}



.social-button{
    display: inline-block;
    text-decoration: none;
    color: transparent;
}


.social-button:hover:nth-child(1){
    background:  radial-gradient(
        circle at 30% 107%, #fdf497 0%, 
        #fdf497 5%, #fd5949 45%,
        #d6249f 60%,#285AEB 90%
    ); 
    transform: scale(1.0);
}

.social-button:hover:nth-child(1) svg {
    stroke: white;
}


.social-button:hover:hover:nth-child(2){
    transform: scale(1.0);
    background-color: #14171A;
}

.social-button:hover:hover:nth-child(2) svg{
    fill: white;
}

.social-button:hover:hover:nth-child(3){
    transform: scale(1.0);
    background-color: #25d366;
}

.social-button:hover:hover:nth-child(3) svg{
    fill: white;
}



select{
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Indicate that a custom style is being used */
    text-indent: 0.01px;
    text-overflow: '';
}





/*firstrow*/

.first-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    height: 40rem;
}



.hero-content{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  min-height: 400px;
  z-index: 1;
  background: transparent;
  padding: 1rem 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}


.first-bg{
    width: 100px;
    height: auto;
}


.first-heading{
  font-family: var(--font-headings);
  color: var(--main-txt-color);
  font-size: 2rem;
  width: 100%;
  text-align: center;
  text-wrap: balance;
  margin: 0;
  letter-spacing: 0.1rem;
  opacity: 1;     
  text-shadow: 1px 1px var(--main-secondary-color);       

}


.first-para{
     font-family: var(--font-text);
     font-size: 1rem;
     color: var(--main-secondary-color);
     white-space: normal;
     text-align: center;
     line-height: 150%;
     opacity: 1;
     margin-bottom: 0;
     text-shadow: 1px 1px var(--main-txt-color);
  }

.first-link{
    display: inline-block;
    font-family: var(--font-headings);
    font-weight: bold;
    color: var(--main-txt-color);
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    transition: all 0.2s;
    text-shadow: 1px 1px var(--main-secondary-color);     
}


.first-link:hover{
    text-shadow: 1px 1px var(--main-txt-color);   
    color: var(--main-secondary-color);  
}



.hero-bg {
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  cursor: none;
  overflow: hidden;
  transition: all 0.2s;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: inherit;
  transition: scroll-left 0.3s ease-in-out;

  &::-webkit-scrollbar {
      display: none; 
  } 
 

}


.hero-bg > .card{
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  margin: 0;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  filter: brightness(0.75);
  scroll-snap-align: start;


}

.hero-bg > .card:nth-child(1){
  background-image: url("/images/grilled-bass.jpg");
}

.hero-bg > .card:nth-child(2){
  background-image: url("/images/lamb-kebab.jpg");
}
.hero-bg > .card:nth-child(3){
  background-image: url("/images/hum-mus.jpg");

}
.hero-bg > .card:nth-child(4){
  background-image: url("/images/lemon-juice.jpg");
}









 /*SCREEN MAX-WIDTH 767px for devices like mobile screens(potrait & landscape).*/
@media only screen and (max-width: 767.98px){

.first, .second, .third{
    margin-bottom: 3rem;
}




/*Reserve Table section */

.post-two{
    position: relative;
    height: 300px;
}


.second-image{
    background-color: transparent;
    position: absolute;
    left: 28%;
    top: 0;
    z-index: 1;
    width: 114px;
    height: 158px;

}


.second-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 3.5rem;
    width: 12rem;
    margin: 0;
    letter-spacing: 0.1rem;
    position: absolute;
    top: 6rem;
    left: 50%;
    z-index: 2;
    opacity: 0;
    transform: translateY(15px) translateX(-50%); /* Adjust the initial distance from the bottom */
    transition: opacity  0.2s , transform 0.2s;            
 
}





/*Reserveation Form Section*/
.home-form{
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-form > form{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper{
    width: 100%;
    background-color: transparent;
   
}

.input-wrapper label {  
    font-weight: bold;
    font-family: var(--font-headings);
    color: var(--main-secondary-color);
    font-size: 1rem;
    line-height: 1rem;
    opacity: 1;
}

.input-field{
    border-radius: 0.25rem;
    border: 0.2rem solid var(--main-secondary-color);
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field input,       
.input-field select {                                    
    width: 100%;
    color: var(--main-secondary-color);
    font-size: 0.8rem;
    font-family: var(--font-text);
    background-color: transparent;
    appearance: none;
    outline: 0;
    border: 0;
}

.ui-datepicker{
    width: 19.7rem;
}



/*guest list design*/
.guest-icon, .time-icon, .calendar-icon{
    font-size: 1rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}
  




.input-wrapper button {
    background-color: transparent;
    font-size: 1.2rem;
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid  var(--main-txt-color);
    cursor: pointer;
    line-height: 1.5rem;
    opacity: 1;
    letter-spacing: 0.05rem;
    border-radius: 0.25rem;
}




.post-three{
    position: relative;
    height: 300px;
}

.home-history{
    height: 350px;
}

.home-history > img{
    object-fit: cover;
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}


.third-bg{
    background-color: transparent;
    position: absolute;
    width: 184px;
    height: 131px;
    top: 0;
    left: 50%;
    transform: translateX(-50%)  rotateZ(-21deg);

}

.home-history-content{
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;

}

.third-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 3.5rem;
    z-index: 2;
    margin: 0;
    letter-spacing: 0.1rem;
    transform: translateY(15px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s;

}

.third-para{
    font-family: var(--font-text);
    font-size: 1rem;
    white-space: normal;
    color: var(--main-secondary-color);
    line-height: 150%;
     margin: 0;
     transform: translateY(15px) ;
     opacity: 0;
     transition: opacity  0.2s, transform 0.2s;
}  

.third-link{
    display: inline-block;
    font-family: var(--font-headings);
    font-weight: bold;
    color: var(--main-txt-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    transform: translateY(15px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s;
  
}



.fourth-content{
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: flex-start;
   height: 630px;
}


.content-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin-top: 4rem;

}


.fourth-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 3.5rem;
    width: 15rem;
    transform: translateY(15px) ;
    opacity: 0;
    letter-spacing: 0.1rem;
    margin: 0;
    transition: opacity  0.2s, transform 0.2s;

}

.fourth-para{
    font-family: var(--font-text);
    font-size: 1rem;
     color: var(--main-secondary-color);
     margin: 0;
     line-height: 150%;
     transform: translateY(15px) ;
     opacity: 0;
     transition: opacity  0.2s, transform 0.2s;


}


.values-icon-wrapper, .values-icon-wrapper > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.values-icon-wrapper > div{
    width: 33.3%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.img-icon {
    width: 140px;
    height: 180px;
    opacity: 1;     
    flex:  0 0 auto;
}



.img-text{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0;
    text-align: center;

   
}




footer{
    background-color: var(--main-secondary-color);
    position: relative;
}

.footer-info, .footer-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    height: 270px;
    margin-top: 4rem;

    
}

.footer-content{
    gap: 8px;
    height: 180px;
    justify-content: flex-start;
    margin: 0;
}


.footer-heading{
    color: var(--main-txt-color);
    font-family: var(--font-headings);
    font-size: 3.5rem;
    opacity: 1;
    width: 14rem;
    letter-spacing: 0.1rem;
    top: 5rem;
    margin-bottom: 0;

}

.footer-para{
    font-family: var(--font-headings);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin-bottom: 0;
    line-height: 130%;
    width: 12rem;
}

.footer-email{
    width: 55%;

}


.email-label{
    font-family: var(--font-text);
    font-size: 0.8rem;
    color: var(--main-txt-color);
}

.email-button{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    font-size: 1rem;
}


.email-submit-text{
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    width: 12rem;
}


.copyright{
    font-family: var(--font-text);
    font-size: 0.8rem;
    color: var(--main-txt-color);
    display: flex;
     justify-content: center;
     align-items: center;
    padding-bottom: 1rem;
}




/*footer second content*/

.contact-info, .footer-contact{
    height: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-block: 3rem;
}

.footer-contact{
    gap: 0.3rem;
    max-width: 335px;
    justify-content: center;
    margin: 0;
}




.phone-number{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    text-decoration: none;
    margin: 0;
    
}

.email-address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin: 0;

}


.email-address a, .phone-number a{
    color: var(--main-txt-color);
    text-decoration: none;
}

.address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin: 0;

  
}





.social-media-container{
    display: flex;
    justify-content: center;
   align-items: center;
    gap: 0.5rem;
    width: 100%;

}

.social-button{
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;

}

.social-button svg{
    width: 25px;
    height: 25px;
}


.footer-img{
    position: absolute;
    background-color: transparent;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100px;
    height: 111px;
    transform: translate(-20%, 100%);

}


.visible-up{
    opacity: 1;
    transform: translateY(0) ;
}

.second-heading.visible-up{
    opacity: 1;
    transform: translateY(0) translateX(-50%);
}

}

@media only screen and (max-width: 575.98px)/* for devices like mobile screens(potrait only)*/ {


    .footer-email{
      width: 85%;
    }


    .values-icon-wrapper{
        flex-direction: column;
         justify-content: flex-start;
         gap: 1.5rem;
    }

    .fourth-content{
        height: 1040px;
    }
}




































 /*SCREEN MIN-WIDTH 768px for devices like tablets screens.*/
@media only screen and (min-width: 768px) and (max-width: 991.98px){

.first, .second, .third{
        margin-bottom: 3rem;
    }


.first-content{
    height: 40rem;
}


.first-bg{
    width: 140px;
}
  


.first-heading{
    font-size: 2.5rem;
}


.first-para{
       font-size: 1.2rem;
}
  







/*Reserve Table section */

.post-two{
    position: relative;
    height: 300px;
}

.second-image{
    background-color: transparent;
    width: 114px;
    height: 158px;
    z-index: 1;
    left: 50%;
    top: 0;
    position: absolute;
}


.second-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5rem;
    width: 17rem;
    letter-spacing: 0.2rem;
    z-index: 2;
    margin: 0;
    position: absolute;
    top: 6rem;
    left: 20%;
    transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.3s;

}

/*Reserveation Form Section*/

.home-form{
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-form > form{
    width: 22rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper{
    width: 100%;
    background-color: transparent;
   
}

.input-wrapper label {  
    font-weight: bold;
    font-family: var(--font-headings);
    color: var(--main-secondary-color);
    font-size: 1.2rem;
    line-height: 150%;
    opacity: 1;
    letter-spacing: 0.05rem;
}


.input-field{
    border-radius: 0.25rem;
    border: 0.2rem solid var(--main-secondary-color);
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.input-field input,       
.input-field select {                                    
    width: 100%;
    color: var(--main-secondary-color);
    font-size: 1rem;
    font-family: var(--font-text);
    background-color: transparent;
    appearance: none;
    outline: 0;
    border: 0;
}


.ui-datepicker{
    width: 21.7rem;
}



/*guest list design*/

.guest-icon, .time-icon, .calendar-icon{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}
  




.input-wrapper button {
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid  var(--main-txt-color);
    cursor: pointer;
    line-height: 1.5rem;
    opacity: 1;
    letter-spacing: 0.05rem;
    border-radius: 0.25rem;
}




.post-three{
    position: relative;
    height: 300px;
}

.home-history{
    height: 410px;
}

.home-history > img{
    object-fit: cover;
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}







.third-bg{
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 5rem;
    width: 200px;
    height: 150px;
}

.home-history-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;

}

.third-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5rem;
    letter-spacing: 0.2rem;
    z-index: 2;
    width: 16rem;
    margin: 0;
    transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s ;
}

.third-para{
    font-family: var(--font-text);
    font-size: 1.2rem;
    white-space: normal;
     color: var(--main-secondary-color);
     line-height: 150%;
     margin: 0;
     transform: translateY(20px) ;
     opacity: 0;
     transition: opacity  0.2s, transform 0.2s;
    
}  

.third-link{
    display: inline-block;
    font-family: var(--font-headings);
    font-weight: bold;
    color: var(--main-txt-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.4rem;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s;
}

.fourth-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 750px;
 }
 
 
 .content-wrapper{
     display: flex;
     flex-flow: column nowrap;
     justify-content: space-between;
     align-items: flex-start;
     gap: 16px;
     margin-top: 4rem;
 
 }




.fourth-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    width: 29rem;
    transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s;

}

.fourth-para{
    font-family: var(--font-text);
    font-size: 1.2rem;
     color: var(--main-secondary-color);
     margin: 0;
     line-height: 150%;
     width: 33rem;
     transform: translateY(20px) ;
     opacity: 0;
     transition: opacity  0.2s, transform 0.2s;

}


.values-icon-wrapper, .values-icon-wrapper > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  
.values-icon-wrapper > div{
      width: 33.3%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }


.img-icon {
    width: 180px;
    height: 210px;
    opacity: 1;     
    flex:  0 0 auto;
}




.img-text{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    opacity: 1;
    margin: 0;
    text-align: center;
}








footer{
    background-color: var(--main-secondary-color);
    position: relative;
}

.footer-info, .footer-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    height: 315px;
    margin-top: 4rem;

}


.footer-content{
    gap: 8px;
    height: 250px;
    justify-content: flex-start;
    margin: 0;
}



/*footer first content*/

.footer-heading{
    color: var(--main-txt-color);
    font-family: var(--font-headings);
    font-size: 5rem;
    opacity: 1;
    letter-spacing: 0.2rem;
    width: 20rem;
    margin: 0;
}

.footer-para{
    font-family: var(--font-headings);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    margin-bottom: 0;
    line-height: 150%;
    width: 21rem;

}

.footer-email{
    width: 30rem;

}


.email-label{
    font-family: var(--font-text);
    font-size: 0.8rem;
    color: var(--main-txt-color);
}

.email-button{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    font-size: 1rem;
    letter-spacing: 0.05rem;
}


.email-submit-text{
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    width: 14rem;
}


.copyright{
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    display: flex;
     justify-content: center;
     align-items: center;
    padding-bottom: 1rem;
}



  /*footer second content*/


.contact-info, .footer-contact{
    height: 162px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin: 4rem 0 3rem 0;
}

.footer-contact{
    gap: 0.5rem;
    max-width: 450px;
    align-items: flex-start;
    margin: 0;
}





.phone-number{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    text-decoration: none;
    margin: 0;
    max-width: 13rem;
    
}
.email-address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin: 0;
    max-width: 23rem;

}


.email-address a, .phone-number a{
    color: var(--main-txt-color);
    text-decoration: none;
}

.address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
    margin: 0;
    max-width: 13rem;
  
}



.social-media-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 130px;

}

.social-button{
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;

}

.social-button svg{
    width: 25px;
    height: 25px;
}



.footer-img{
    position: absolute;
    top: 0;
    background-color: transparent;
    right: 15%;
    transform: translateY(50%);

}
  


.visible-up{
    opacity: 1;
    transform: translateY(0);
}

}













































  /*SCREEN MIN-WIDTH 992px for devices like small laptops*/

@media only screen and (min-width: 992px) {




/*FIRST CONTENT STYLES*/

.first, .second, .third{
    margin-bottom: 3.5rem;
}

.first-content {
    height: 45rem;
}



/*firstrow*/


.hero-content{
    width: 50%;
    height: initial;
    left: initial;
    right: 0;
    transform: translateY(-50%);
}

.first-bg{
    width: 140px;
    align-self: center;
}

.first-heading{
  font-size: 3rem;
 }


.first-para{
     font-size: 1.3rem;
  }

  




/*SECOND CONTENT STYLES*/


.post-two{
    position: relative;
    height: 300px;
}


/*Reserve Table section */

.second-image{
    background-color: transparent;
    width: 114px;
    height: 158px;
    z-index: 1;
    left: 25px;
    top: 0;
    position: absolute;
}


.second-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    width: 20rem;
    letter-spacing: 0.2rem;
    margin: 0;
    position: absolute;
    top: 4.375rem;
    left: 6rem;
    z-index: 2;
    transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.3s;
    

}

/*Reserveation Form Section*/


.home-form{
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-form > form{
    width: 25rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.input-wrapper{
    width: 100%;
    background-color: transparent;
   
}

.input-wrapper label {  
    font-weight: bold;
    font-family: var(--font-headings);
    color: var(--main-secondary-color);
    font-size: 1.2rem;
    line-height: 150%;
    opacity: 1;
    letter-spacing: 0.05rem;
}


.input-field{
    border-radius: 0.25rem;
    border: 0.2rem solid var(--main-secondary-color);
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

                            /*form input design*/
.input-field input,       
.input-field select {                                    
    width: 100%;
    color: var(--main-secondary-color);
    font-size: 1rem;
    font-family: var(--font-text);
    background-color: transparent;
    appearance: none;
    outline: 0;
    border: 0;
}



.ui-datepicker{
    width: 24.7rem;
}


.input-wrapper button {
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid  var(--main-txt-color);
    cursor: pointer;
    line-height: 1.5rem;
    opacity: 1;
    letter-spacing: 0.05rem;
    border-radius: 0.25rem;
}

.guest-icon, .time-icon, .calendar-icon{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--main-secondary-color);
}
  











/*THIRD CONTENT STYLES*/

/*About Us section */



.post-three{
    position: relative;
    height: 300px;
}

.home-history{
    height: 410px;
}

.home-history > img{
    object-fit: cover;
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}





.third-bg{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 5rem;

}

.home-history-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;

}

.third-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    z-index: 1;
    letter-spacing: 0.2rem;
    width: 18rem;
    margin-bottom: 0;
    transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s;
}

.third-para{
    font-family: var(--font-text);
    font-size: 1.3rem;
    white-space: normal;
     color: var(--main-secondary-color);
     line-height: 150%;
     margin-bottom: 0;
     transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s;
    
     
}  

.third-link{
    display: inline-block;
    font-family: var(--font-headings);
    font-weight: bold;
    color: var(--main-txt-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.22s;
}








/*FOURTH CONTENT STYLES*/

/*Our Values section */

.fourth-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 840px;
 }
 
 
 .content-wrapper{
     display: flex;
     flex-flow: column nowrap;
     justify-content: space-between;
     align-items: flex-start;
     gap: 16px;
     margin-top: 4rem;
 
 }



.fourth-heading{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    width: 29rem;
    transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s;

}

.fourth-para{
    font-family: var(--font-text);
    font-size: 1.3rem;
     color: var(--main-secondary-color);
     margin-bottom: 0;
     line-height: 150%;
     width: 33rem;
     transform: translateY(20px) ;
    opacity: 0;
    transition: opacity  0.2s, transform 0.2s;

}





.values-icon-wrapper, .values-icon-wrapper > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  
.values-icon-wrapper > div{
      width: 33.3%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }


.img-icon {
    width: 198px;
    height: 254px;
    opacity: 1;     
    flex:  0 0 auto;
}



.img-text{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    opacity: 1;
    margin: 0;
    
  
}






/*FOOTER CONTENT STYLES*/

footer{
    background-color: var(--main-secondary-color);
    position: relative;
}

.footer-info, .footer-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    height: 385px;
    margin-top: 4rem;

}



.footer-content{
    gap: 8px;
    height: 295px;
    justify-content: flex-start;
    margin: 0;
}



.footer-heading{
    color: var(--main-txt-color);
    font-family: var(--font-headings);
    font-size: 5.5rem;
    opacity: 1;
    letter-spacing: 0.2rem;
    width: 23rem;
    margin-bottom: 0;

}

.footer-para{
    font-family: var(--font-headings);
    font-size: 1.5rem;
    color: var(--main-txt-color);
    margin-bottom: 0;
    line-height: 150%;
    width: 23rem;
    
}

.footer-email{
    width: 28rem;

}


.email-label{
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--main-txt-color);
}

.email-button{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}


.email-submit-text{
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--main-txt-color);
    width: 18rem;

}


.copyright{
    font-family: var(--font-text);
    font-size: 1.05rem;
    color: var(--main-txt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 1rem;

   
}



/*footer second content*/

.contact-info, .footer-contact{
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin-top: 4rem;
}

.footer-contact{
    gap: 0.5rem;
    max-width: 450px;
    align-items: flex-start;
    margin: 0;
}




.phone-number{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    text-decoration: none;
    margin: 0;
    max-width: 13rem;
    
}

.email-address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    margin: 0;
    max-width: 23rem;

}


.email-address a, .phone-number a{
    color: var(--main-txt-color);
    text-decoration: none;
}

.address{
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--main-txt-color);
    margin: 0;
    max-width: 18rem;
  
}


.social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 180px;

}

.social-button{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;

}


.footer-img{
    position: absolute;
    bottom: 0;
    right: 150px;
    background-color: transparent;
    transform: translateY(-60px);

}



.visible-up{
    opacity: 1;
    transform: translateY(0);
}


}
























 /*SCREEN MIN-WIDTH 1200px for devices like laptops and desktops*/
@media only screen and (min-width: 1200px) {
   

     .home-form > form{
        width: 28rem;
     }

     .ui-datepicker{
        width: 27.7rem;
    }
 

    .footer-info{
        height: 400px;
    }

    .contact-info{
       height: 230px;
    }


}

















 /*SCREEN MIN-WIDTH 1400px for devices like large desktop screens.*/
@media only screen and (min-width: 1400px) {

    .first, .second, .third{
        margin-bottom: 4rem;
    }

   
    .first-heading{
        font-size: 4rem;
        width: 39rem;
    }
       

     .first-para{
        font-size: 1.5rem;
     }

     
    
     .second-heading{
        font-size: 6.5rem;
        width: 22rem;
     }

     .home-form > form{
        width: 33rem;
     }

    
     .ui-datepicker{
        width: 39.7rem;
    }
     
   
     .input-wrapper button{
        font-size: 1.8rem;
     }

  
    .third-heading{
        font-size: 6.5rem;
        width: 22rem;
    }


    .third-bg {
        right: 15rem;
        top: 50px
    }

    .third-para{
        font-size: 1.5rem;
    }

    .third-link{
        font-size: 2.5rem;
    }

   

    .fourth-heading{
        width: 33rem;
        font-size: 6.5rem;
    }

    .fourth-para{
        width: 43rem;
        font-size: 1.5rem;
    }


    .img-text{
       font-size:  1.5rem;
    }

    .home-history{
        height: 475px;
    }

    
    .footer-heading{
        width: 25rem;
        font-size: 6.5rem;
    }

    .footer-para{
        width: 28rem;
        font-size: 1.5rem;
    }

    .footer-email{
        width: 35rem;
    }


    .email-label{
        font-size: 1.3rem;
    }
    .email-button{
        font-size: 1.5rem;
    }
    
    .email-submit-text{
        width: 21rem;
        font-size: 1.5rem;
    }

    .copyright{
        font-size: 1.3rem;
    }


    .phone-number, .email-address, .address{
      font-size: 1.5rem;
    }



 
 }





 /*devices over 2000px*/
@media only screen and (min-width: 2000px) {
  
   .container-fluid{
    max-width: 1800px;
   }

   header{
     max-width: 1800px;
     margin: 0 auto;
   }



 }





 
  