
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-bg-color);
    font-size: 16px;
    
}



main{
    margin-top: 5rem;
}



.about-title{
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
}

.about-title img{
    max-width: 679px;
    max-height: 550px;
    margin-top: 5rem;

}

.about-title h1{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 10rem;
    letter-spacing: 0.2rem;
    width: 6%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 12%;
}


.history{
    margin-bottom: 3rem;
}

.history-content, .venue-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 2rem;
}

.history-content h2{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    margin: 2rem 0 0 0;

}


.history-content p{
    font-family: var(--font-text);
    font-size: 1.3rem;
    color: var(--main-secondary-color);
    line-height: 150%;
    margin: 0;

}

.about-history-images{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.history-img-one, .history-img-two{
 width: 100%;
 max-height: 450px;
 margin: 0;
}

.history-img-one > img, .history-img-two > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.venue img{
    width: 100%;
    height: 100%;
    
}

.venue-content h2{
    font-family: var(--font-headings);
    color: var(--main-txt-color);
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    max-width: 300px;
    margin: 0;

}

.venue-content p{
    font-family: var(--font-text);
    font-size: 1.3rem;
    color: var(--main-secondary-color);
    line-height: 150%;
    margin: 0;
}



.history-heading, .history-first-para, .history-second-para, .venue-heading, .venue-para-one, .venue-para-two{
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.2s, transform 0.2s;
}






.visible-up {
    opacity: 1;
    transform: translateY(0);
}



@media only screen and (min-width: 1200px){
    .about-title h1{
        left: 18%;
    }

}




@media only screen and (min-width: 1400px){
    .about-title h1{
        left: 23%;
    }
    .history-content h2{
       font-size: 6.5rem;
    }

    .history-content p{
        font-size: 1.5rem;
    }

    .venue-content h2{
        font-size: 6.5rem;
    }

    .venue-content, .history-content{
        padding-right: 3rem;
    }

    .venue-content p{
        font-size: 1.5rem;
    }

    .about-history-images{
        height: 915px;
    }
}



@media only screen and (min-width: 768px) and (max-width: 991.98px){

    .about-title h1{
        left: 2%;

    }

    .history-content h2{
        font-size: 5rem;
        margin: 0;
    }

    .venue-content h2{
        font-size: 5rem;
    }

    .history-content p{
        font-size: 1.2rem;
    }


  
    .venue-content p{
        font-size: 1.2rem;
     
    }

    .history-img-one, .history-img-two{
        max-height: 400px;
    }

    .venue-content img{
        padding: 0 50px;
    }
    .about-history-images{
        height: 830px;
    }


     .venue-content, .history-content{
            padding: 0;
            margin-bottom: 2rem;
        }
    
}



@media only screen and (max-width: 767.98px){
    .about-title img{
        max-width: 250px;
        max-height: 200px;
    }

    .about-title h1{
        font-size: 5rem;
        left: 20%;
        top: 0;
        letter-spacing: 0.1rem;
    }

    .about-title{
        margin-bottom: 3rem;
    }


    .history-content h2{
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
    }

    .venue-content h2{
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
    }


    .venue-content, .history-content{
       padding: 0;
       margin-bottom: 2rem;
    }

    .history-content p{
        font-size: 1rem;
     
    }

    .venue-content p{
        font-size: 1rem;
    }

    .history-img-one, .history-img-two{
        max-height: 400px;

    }





.history-heading, .history-first-para, .history-second-para, .venue-heading,
 .venue-para-one, .venue-para-two{
       transform: translateY(15px);
    }
    
    

}